<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 mb-3 fs-3">Hello</div>
    <div class="col-12">
      <a href="/login" class="btn btn-primary">Login in</a>
      <a href="/signup" class="btn btn-primary">Sign up</a>
      <a href="/chat" class="btn btn-primary">Chat</a>
    </div>
  </div>
</div>