<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 mb-3">
      <span class="fs-3">Welcome {{name}}</span><br />
      <span>{{email}}</span>
    </div>
    <div class="col-12 mb-3">
      <span class="fs-4">User token</span>
      <code>{{token}}</code>
    </div>
    <div class="col-12">
      <a href="/logout" class="btn btn-primary">Log out</a>
    </div>
  </div>
</div>